@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply motion-reduce:transition-none;
}

@layer components {
  /* gym membership type base  */
  .gr-membership-type {
    @apply flex items-center justify-center capitalize btn btn-xs w-full rounded-full border-none transition-all duration-100 font-bold;
    outline-style: solid;
  }

  /* gym membership types variants */
  .gr-membership-type.bronze {
    @apply bg-[#d88501] text-neutral-focus/75 outline-1 outline-[#d88501]/50;
    @apply hover:bg-[#d88501]/75 hover:text-neutral-focus hover:outline-[#d88501] hover:outline-2;
  }
  .gr-membership-type.silver {
    @apply bg-[#b4b4b4] text-neutral-focus/75 outline-1 outline-[#b4b4b4]/50;
    @apply hover:bg-[#b4b4b4]/75 hover:text-neutral-focus hover:outline-[#b4b4b4] hover:outline-2;
  }

  .gr-membership-type.gold {
    @apply bg-[#edba2f] text-neutral-focus/75 outline-1 outline-[#edba2f]/50;
    @apply hover:bg-[#edba2f]/75 hover:text-neutral-focus hover:outline-[#edba2f] hover:outline-2;
  }

  .gr-membership-type.platinum {
    @apply bg-[#8a8f95] text-neutral-focus/75 outline-1 outline-[#8a8f95]/50;
    @apply hover:bg-[#8a8f95]/75 hover:text-neutral-focus hover:outline-[#8a8f95] hover:outline-2;
  }

  /* lead type base */
  .gr-lead-type {
    @apply rounded-xl text-sm mx-2 p-1 flex items-center justify-center whitespace-nowrap capitalize;
  }

  /* lead type variants */
  .gr-lead-type.app_referal {
    @apply border;
  }

  .gr-lead-type.grand_opening {
    @apply bg-secondary/40 text-info;
  }

  .gr-lead-type.snapshot {
    @apply bg-error/10 text-error;
  }

  .gr-lead-type.free_trial {
    @apply bg-secondary/90;
  }

  .gr-lead-type.streaming_preview {
    @apply bg-accent-focus/80;
  }

  /* opportunity level type base */
  .gr-opportunity {
    @apply aspect-square rounded-full w-full;
  }

  .gr-opportunity.accent {
    @apply bg-accent-focus;
  }

  .gr-opportunity.error {
    @apply bg-error;
  }

  .gr-opportunity.warning {
    @apply bg-warning;
  }

  /* content background gradient */
  .gr-gradient {
    @apply bg-gradient-to-b from-secondary/25 to-base-300;
  }

  .gr-base-textfield {
    @apply rounded-xl p-2 transition-all duration-75 mt-2 w-full outline-none border-2 border-transparent;
  }

  label.gr-base-label {
    @apply capitalize;
  }

  .gr-neutral-textfield {
    @apply bg-base-content/20;
    @apply focus-within:bg-base-content/30 focus-within:border-secondary;
  }

  .gr-secondary-textfield {
    @apply bg-secondary text-primary-content;
    @apply focus-within:border-primary-content focus-within:text-base-content;
  }

  select.gr-neutral-selection {
    @apply bg-base-content/20 text-base-content/50;

    > option {
      @apply bg-neutral;
    }
  }

  input.gr-neutral-shroud {
    @apply bg-transparent;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  @apply bg-secondary bg-opacity-40 rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply border rounded-lg bg-secondary;
}

.apexcharts-tooltip * {
  @apply text-neutral-focus;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .gradient-bg{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.53) 0%, rgba(0, 120, 210, 0.31) 1%, rgba(0, 68, 117, 0.6) 41%, rgba(0, 21, 37, 0.87) 82%, rgba(0, 1, 1, 0.85) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.53) 0%, rgba(0, 120, 210, 0.31) 1%, rgba(0, 68, 117, 0.6) 41%, rgba(0, 21, 37, 0.87) 82%, rgba(0, 1, 1, 0.85) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.53) 0%, rgba(0, 120, 210, 0.31) 1%, rgba(0, 68, 117, 0.6) 41%, rgba(0, 21, 37, 0.87) 82%, rgba(0, 1, 1, 0.85) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.53) 0%, rgba(0, 120, 210, 0.31) 1%, rgba(0, 68, 117, 0.6) 41%, rgba(0, 21, 37, 0.87) 82%, rgba(0, 1, 1, 0.85) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.53) 0%, rgba(0, 120, 210, 0.31) 1%, rgba(0, 68, 117, 0.6) 41%, rgba(0, 21, 37, 0.87) 82%, rgba(0, 1, 1, 0.85) 99%, rgba(0, 0, 0, 0.85) 100%);
} */

.gradient-bg {
  background: -webkit-linear-gradient(
      top,
      rgba(47, 114, 196, 0.89) 0%,
      rgba(12, 28, 49, 0.91) 50%,
      rgb(0, 0, 0) 65%,
      rgba(47, 114, 196, 0.79) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -o-linear-gradient(
      top,
      rgba(47, 114, 196, 0.89) 0%,
      rgba(12, 28, 49, 0.91) 50%,
      rgb(0, 0, 0) 65%,
      rgba(47, 114, 196, 0.79) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -ms-linear-gradient(
      top,
      rgba(47, 114, 196, 0.89) 0%,
      rgba(12, 28, 49, 0.91) 50%,
      rgb(0, 0, 0) 65%,
      rgba(47, 114, 196, 0.79) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -moz-linear-gradient(
      top,
      rgba(47, 114, 196, 0.89) 0%,
      rgba(12, 28, 49, 0.91) 50%,
      rgb(0, 0, 0) 65%,
      rgba(47, 114, 196, 0.79) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: linear-gradient(
      to bottom,
      rgba(47, 114, 196, 0.89) 0%,
      rgba(12, 28, 49, 0.91) 50%,
      rgb(0, 0, 0) 65%,
      rgba(47, 114, 196, 0.79) 100%
    )
    rgba(0, 0, 0, 0.35);
  background-blend-mode: multiply;
}
.card-gradient-bg {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 116, 200, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -o-linear-gradient(
      top,
      rgba(0, 116, 200, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -ms-linear-gradient(
      top,
      rgba(0, 116, 200, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: -moz-linear-gradient(
      top,
      rgba(0, 116, 200, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 100%
    )
    rgba(0, 0, 0, 0.35);
  background: linear-gradient(
      to bottom,
      rgba(0, 116, 200, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 100%
    )
    rgba(0, 0, 0, 0.35);
  background-blend-mode: multiply;
}

.page-content {
  @apply mx-auto w-full max-w-6xl;
}

.profile-setting-gradient-bg {
  background: -webkit-linear-gradient(
    top,
    rgb(0, 117, 201) 30%,
    rgb(0, 0, 0) 100%
  );
  background: -o-linear-gradient(top, rgb(0, 117, 201) 30%, rgb(0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgb(0, 117, 201) 30%, rgb(0, 0, 0) 100%);
  background: -moz-linear-gradient(
    top,
    rgb(0, 117, 201) 30%,
    rgb(0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(0, 117, 201) 30%,
    rgb(0, 0, 0) 100%
  );
  background-blend-mode: multiply;
}

.toggle-custom {
  @apply ml-[-20px] flex text-gray-400 font-semibold;
  animation-name: toggle-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.toggle-custom * {
  @apply cursor-pointer;
}

.toggle-custom button {
  @apply flex;
}

.toggle-custom .line {
  @apply w-[42px] h-[8px] rounded-[12px] mx-1 my-auto bg-gray-200;
}

@keyframes toggle-circle-animation {
  from {
    @apply bg-secondary left-[48px];
  }
  to {
    @apply bg-gray-400 left-[22px];
  }
}

.toggle-custom .circle {
  @apply relative left-[22px] w-[22px] h-[22px] rounded-full bg-gray-400;
  animation-name: toggle-circle-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes toggle-active-animation {
  from {
    @apply text-gray-400;
  }
  to {
    @apply text-secondary;
  }
}

.toggle-active {
  animation-name: toggle-active-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes toggle-active-circle-animation {
  from {
    @apply bg-gray-400 left-[22px];
  }
  to {
    @apply bg-secondary left-[48px];
  }
}

.toggle-active .circle {
  animation-name: toggle-active-circle-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.border-12 {
  border-width: 12px;
}
:root {
  --fc-border-color: hsl(var(--bc) / 0.5);
  --fc-today-bg-color: hsl(var(--b3) / 0.4);
  --fc-button-bg-color: hsl(var(--p));
  --fc-button-active-bg-color: hsl(var(--s));
}
